<nav class="navbar navbar-light navbar-trans">
  <a class="navbar-brand poke" href="#">
    <img src="https://www.freepnglogos.com/uploads/pokemon-symbol-logo-png-31.png" width="50" height="50" alt="logo">
  </a>
   <a id="home" href="/">
    <%= image_tag "/assets/home.png", alt: "alttext", width: 40, height: 40 %>
  </a>
  <a id="plus" href="/pokemons/new">
    <%= image_tag "/assets/plus.png", alt: "alttext", width: 40, height: 40 %>
  </a>
</nav>
