<nav class="navbar navbar-light navbar-trans">
  <a class="navbar-brand poke" href="#">
    <img src="https://www.freepnglogos.com/uploads/pokemon-symbol-logo-png-31.png" width="50" height="50" alt="logo">
  </a>
   <a id="home" class="text-decoration-none text-dark" style="font-size: 35px;" href="/">
    <i class="fas fa-home"></i>
  </a>
  <a id="plus" class="text-decoration-none text-dark" style="font-size: 35px;" href="/pokemons/new">
    <i class="fas fa-plus-circle"></i>
  </a>
</nav>
